<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="register()">
        <h2>Register</h2>
        <hr>
        <div class="form-group">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="radioMale" name="gender" [(ngModel)]="model.gender"
              value="male" required>
            <label class="form-check-label" for="inlineCheckbox1">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="radioFemale" name="gender" [(ngModel)]="model.gender"
              value="female" required>
            <label class="form-check-label" for="inlineCheckbox2">Female</label>
          </div>
        </div>
        <div class="form-group">
          <input required minlength="5" #name="ngModel" maxlength="25" type="text" name="name" [(ngModel)]="model.name"
            class="form-control" placeholder="Name">
          <div class="alert alert-danger" *ngIf="name.invalid  && name.touched">
            <p *ngIf="name.errors?.['required']">Name is Required</p>
            <p *ngIf="name.errors?.['minlength']">Min. 5 charactes</p>
            <!-- <p *ngIf="name.errors.minlength">Min. 5 charactes</p> çalışmadı videodaki hali-->
          </div>
        </div>

        <div class="form-group">
          <input required #username="ngModel" type="text" name="username" [(ngModel)]="model.username"
            class="form-control" placeholder="UserName">
          <div class="alert alert-danger" *ngIf="username.invalid  && username.touched">
            <p *ngIf="username.errors?.['required']">UserName is Required</p>
            <p *ngIf="username.errors?.['minlength']">Min. 3 charactes</p>
            <!-- <p *ngIf="name.errors.minlength">Min. 5 charactes</p> çalışmadı videodaki hali-->
          </div>
        </div>

        <div class="form-group">
          <input required email #email="ngModel" type="email" name="email" [(ngModel)]="model.email"
            class="form-control" placeholder="Email">
          <div class="alert alert-danger" *ngIf="email.invalid  && email.touched">
            <p *ngIf="email.errors?.['required']">Email is Required</p>
            <p *ngIf="email.errors?.['email']">Invalid email</p>
          </div>
        </div>

        <div class="form-group">
          <input #password="ngModel" required minlength="6" maxlength="15" type="password" name="password"
            [(ngModel)]="model.password" class="form-control" placeholder="Password">
          <div class="alert alert-danger" *ngIf="password.invalid  && password.touched">
            <p *ngIf="password.errors?.['required']">password is Required</p>
            <p *ngIf="password.errors?.['password']">Invalid password</p>
          </div>
        </div>

        <div class="form-group">
          <input required #dateofbirth="ngModel" type="date" name="dateofbirth" [(ngModel)]="model.dateofbirth"
            class="form-control">
          <div class="alert alert-danger" *ngIf="dateofbirth.invalid  && dateofbirth.touched">
            <p *ngIf="dateofbirth.errors?.['required']">dateofbirth is Required</p>
          </div>
        </div>

        <div class="form-group">
          <input #country="ngModel" required type="text" name="country" [(ngModel)]="model.country" class="form-control"
            placeholder="Country">
          <div class="alert alert-danger" *ngIf="country.invalid  && country.touched">
            <p *ngIf="country.errors?.['required']">country is Required</p>
          </div>
        </div>

        <div class="form-group">
          <input #city="ngModel" required type="text" name="city" [(ngModel)]="model.city" class="form-control"
            placeholder="City">
          <div class="alert alert-danger" *ngIf="city.invalid  && city.touched">
            <p *ngIf="city.errors?.['required']">city is Required</p>
          </div>
        </div>

        <button [disabled]="form.invalid" class="btn btn-primary btn-block" type="submit">Submit</button>
        <!-- #form="ngForm" bir üs satırdaki form -->
      </form>
    </div>
  </div>
</div>