<!-- large cihazlarda masaüstü görüntüsünde daha alt cihazlarda mobil görüntüsünde -->
<div class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a href="" class="navbar-brand">Social App</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Buradaki butona tıkladığımızda ilgili div buloğu kullanıcıya gösterilecek -->
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav me-auto">
        <li class="navbar-nav">
          <a href="" class="nav-link active">Home</a>
        </li>
        <li class="navbar-nav">
          <a href="" class="nav-link ">Users</a>
        </li>
        <li class="navbar-nav">
          <a href="" class="nav-link ">Messge</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="navbar-nav">
          <a href="" class="nav-link ">Login</a>
        </li>
        <li class="navbar-nav">
          <a href="" class="nav-link ">Register</a>
        </li>
        <li class="navbar-nav">
          <a href="" class="nav-link ">LogOut</a>
        </li>
      </ul>
    </div>
  </div>
</div>

